<!--** Menu Lateral **-->
<div id="menu_lateral">
    <!--** Logo **-->
    <div class="logo text-center">
        <img id="logoprincipal" width="50" height="50" src="../../assets/icon.png" alt="Logo PORMIL Principal"/>
    </div>
    <div id="Menu_Opcoes" class="row">
        <!--** Usuário **-->
        <a class="col-sm-4" data-toggle="tooltip" title="Usuário" href="/Usuario">
            <i class="fa-solid fa-circle-user"></i>
        </a>

        <!--** Sair **-->
        <a class="col-sm-4"class="nav-link" href="/Sair"data-toggle="tooltip" title="Sair">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>

    <!--** Sidebar  **-->
    <nav id="sidebar">
    
        <a id="conteudo" href="/#"> <!-- COLOCAR ROTA DO INICIO -->
            <i class="fa-solid fa-house-chimney"></i> Início
        </a>
        
        <a id="conteudo" href="/#"> <!-- COLOCAR ROTA DE CRIAR ORÇAMENTO -->
            <i class="fas fa-user-tie"></i> Criar Orçamento
        </a>
        <a id="conteudo" href="/#"> <!-- COLOCAR ROTA DE CRIAR ORÇAMENTO -->
            <i class="fas fa-user-tie"></i> Modelos de Orçamento
        </a>
        <a id="conteudo" href="/#"> <!-- COLOCAR ROTA DE ORÇAMENTOS CRIADOS -->
            <i class="fas fa-user-tie"></i> Meus Orçamentos
        </a>
        <!-- Drop Down de Bancos -->
        <a class="dropdown-btn">
            <i class="fa-solid fa-gear"></i> Bancos
            <i class="fa fa-caret-down arrow"></i>
        </a>
        <div class="dropdown-conteudo">
            <a class="dropdown-btn">
                <i class="fa-solid fa-gear"></i> Próprio
                <i class="fa fa-caret-down arrow"></i>
            </a>
                <div class="dropdown-conteudo">
                    
                <a id="conteudo" href="/#"> <!-- COLOCAR ROTA DE Composições/Serviços PRÓPRIOS -->
                    <i class="fas fa-user-tie"></i> Composições/Serviços
                </a>
                <a id="conteudo" href="/#"> <!-- COLOCAR ROTA DE INSUMOS PRÓPRIOS  -->
                    <i class="fas fa-user-tie"></i> Insumos
                </a>
            </div>

            <a class="dropdown-btn">
                <i class="fa-solid fa-gear"></i> Do Sistema
                <i class="fa fa-caret-down arrow"></i>
            </a>
                <div class="dropdown-conteudo">
                    
                <a id="conteudo" href="/#"> <!-- COLOCAR ROTA DE Composições/Serviços DO SISTEMA -->
                    <i class="fas fa-user-tie"></i> Composições/Serviços
                </a>
                <a id="conteudo" href="/#"> <!-- COLOCAR ROTA DE INSUMOS DO SISTEMA -->
                    <i class="fas fa-user-tie"></i> Insumos
                </a>
            </div>
        </div>

          <!-- Drop Down de Bancos -->
          <a class="dropdown-btn">
            <i class="fa-solid fa-gear"></i> Bancos
            <i class="fa fa-caret-down arrow"></i>
        </a>
        <div class="dropdown-conteudo">
            <a id="conteudo" href="/#"> <!-- COLOCAR ROTA FUTURA ROTA DE NOTIFICAÇÕES -->
                <i class="fas fa-user-tie"></i> Notificações
            </a>
        </div>

        

    </nav>
    <!--** Menu opções **-->
</div>