<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela Principal </title>

    <!--** CDN Referências **-->
    <%- include(process.cwd() + '/views/MenuLateral/cdn.ejs' ) %>
    
    <!--***** Estilos css *****-->
    <link rel="stylesheet" href="./home.css" asp-append-version="true" />
    <!-- <link href="/view/login/Style/style_login.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="../MenuLateral/MenuLateral.css" />

    <!--***** Icone da Página *****-->
    <link rel="icon" href="/images/favicon.png">

</head>
<body style="background-color: rgb(221, 221, 221);">
   <!--** Menu Lateral **-->
   <%- include(process.cwd() + '/views/MenuLateral/MenuLateral.ejs') %>
    
    <!-- DIV principal -->
    <div class="container-fluid container bg-white w-50 rounded shadow p-4" id="Div_Pagina">
        <div class="text-center">
            <i class="fa-solid fa-circle-user" style="font-size: 6rem; color: rgb(175, 175, 175);"></i>
            <h5 class="mt-2">Nome: </h5>
            <h5>Usuário: </h5>
            <h5>CPF: </h5>

            <div class="mt-3">
                <button class="btn-outline-primary btn mx-3" id="senha">
                    <i class="fa-solid fa-key"></i> Alterar senha
                </button>
                <button class="btn-outline-primary btn" id="usuario">
                    <i class="fa-solid fa-user-pen"></i> Alterar Usuário
                </button>
            </div>
        </div>
    </div>


    <!--***** Scripts *****-->
    <script src="../MenuLateral/MenuLateral.js"></script>
    
</body>
</html>